schemas/wmdr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Generated by Enterprise Architect 12.1.1230 ( Build: 1230 )-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://def.wmo.int/wmdr/2016" xmlns:wmdr="http://def.wmo.int/wmdr/2016" version="1.0.2RC1" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:gmlexr="http://www.opengis.net/gml/3.3/exr" xmlns:gmd="http://www.isotc211.org/2005/gmd" xmlns:om="http://www.opengis.net/om/2.0">
	<xs:import namespace="http://www.opengis.net/om/2.0" schemaLocation="http://schemas.opengis.net/om/2.0/observation.xsd"/>
	<xs:import namespace="http://www.isotc211.org/2005/gmd" schemaLocation="http://schemas.opengis.net/iso/19139/20070417/gmd/gmd.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.3/exr" schemaLocation="http://schemas.opengis.net/gml/3.3/extdEncRule.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:documentation>Application Schema for WMO WIGOS Observations Metadata. WIGOS is the WMO Integrated Global Observing System.</xs:documentation>
	</xs:annotation>
	<xs:element name="AbstractEnvironmentalMonitoringFacility" type="wmdr:AbstractEnvironmentalMonitoringFacilityType" substitutionGroup="wmdr:AbstractMonitoringFeature" abstract="true">
		<xs:annotation>
			<xs:documentation>An abstract class for environmental monitoring facilities. An environmental monitoring facility may be a station, a platform (moving or stationary), or it may be a sensor or an instrument. WIGOS defines two concrete specialisations: ObservingFacility (to represent stations/platforms) and Equipment (to represent sensors/instruments). NOTE: The WIGOS specialisations of AbstractEnvironmentalMonitoringFacility (ObservingFacility, Equipment) can both be mapped conceptually to the INSPIRE EF EnvironmentalMonitoringFacility.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AbstractEnvironmentalMonitoringFacilityType" abstract="true">
		<xs:complexContent>
			<xs:extension base="wmdr:AbstractMonitoringFeatureType">
				<xs:sequence>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This extension point is to facilitate the encoding of any other information for complimentary or local purposes such as complying with legislative frameworks.
However it should not be expected that any extension information will be appropriately processed, stored or made retrievable from any WIGOS systems or services.  [Phase 1]</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractObject"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="additionalDescription" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Further descriptive information [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="onlineResource" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>An online resource containing additional information about the facility or equipment</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMetadataPropertyType">
									<xs:sequence>
										<xs:element ref="gmd:CI_OnlineResource"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="geospatialLocation" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>3-07 Position in space defining the location of the environmental monitoring station/platform at the time of observation. [Phase 1]

5-12 Geospatial location of instrument/sensor [Phase 2]</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:TimestampedLocation"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="geopositioningMethod" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Element describes the geospatial reference system used for the specified geolocation. [Codelist 11-01 Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>CoordinateSourceType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractEnvironmentalMonitoringFacilityPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:AbstractEnvironmentalMonitoringFacility"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="AbstractMonitoringFeature" type="wmdr:AbstractMonitoringFeatureType" substitutionGroup="gml:AbstractFeature" abstract="true"/>
	<xs:complexType name="AbstractMonitoringFeatureType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AbstractMonitoringFeaturePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:AbstractMonitoringFeature"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ControlCheckReport" type="wmdr:ControlCheckReportType" substitutionGroup="wmdr:LogEntry">
		<xs:annotation>
			<xs:documentation>A ControlCheckReport describes a calibration type event. E.g. instrument was re-calibrated.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ControlCheckReportType">
		<xs:complexContent>
			<xs:extension base="wmdr:LogEntryType">
				<xs:sequence>
					<xs:element name="checkLocation" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Location of sensor when check was performed (e.g. in-situ, offsite etc.) From codelist ControlCheckLocationType.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ControlCheckLocationType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="periodOfValidity" type="xs:duration" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 period of validity of the control check (e.g. 4 years)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="controlCheckResult" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Result of the control check, from InstrumentControlResultType codelist</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>InstrumentControlResultType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="standardType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Type of the Standard used. From the StandardType code list.</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>StandardType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="standardName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Nameof the Standard used.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="withinVerificationLimit" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Was the instrument found to be within verification limits (True if yes, False if no)</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="alternateURI" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-08 Alternatively the summary of the control check may be provided via a URI that resolves to a document containing this information.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ControlCheckReportPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:ControlCheckReport"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Deployment" type="wmdr:DeploymentType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>The deployment(s) describe which equipment is deployed, during which time period, and in which configuration in the course of generating observations. A Deployment can describe any period of time (equipment could be deployed for less than a day, e.g. a mobile sensor deployed in the field, or it could be deployed for many years.) A defining characteristic of the Deployment is that the configuration described in the Deployment remains, by-and-large, unchanged for the duration of the deployment. If the configuration changes, then a new Deployment must be recorded.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DeploymentType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="deploymentPeriod" type="gml:TimePeriodPropertyType">
						<xs:annotation>
							<xs:documentation>The period of time for which this deployment configuration was/is in place. (Note: this will in many cases correspond with the OM_Observation phenomenonTime) [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="heightAboveLocalReferenceSurface" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-05 Vertical distance of sensor from specified reference surface, in the direction away from the earth's center. Positive values indicate above reference surface, negative values indicate below references surface (e.g., below ocean surface). [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="localReferenceSurfaceDescription" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-05 Description of the specified reference surface. [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maintenanceSchedule" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-10 A description (and schedule) of maintenance that is routinely performed on an instrument [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="configuration" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>5-06 Description of any shielding or configuration/setup of the instrumentation. [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="controlSchedule" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-07 Description of schedule for calibrations or verification of instrument. [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="instrumentOperatingStatus" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-04 The operational status of the instrument when deployed (Operational, testing etc.). [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>InstrumentOperatingStatusType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="exposure" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-15 The degree to which an instrument is affected by external influences according to the CIMO classification. Value from ExposureType codelist. [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ExposureType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="deployedEquipment" type="wmdr:EquipmentPropertyType"/>
					<xs:element name="deployedAt" type="wmdr:ObservingFacilityPropertyType">
						<xs:annotation>
							<xs:documentation>The EnvironmentalMonitoringFacility where equipment is deployed for the duration of the Deployment.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="DeploymentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:Deployment"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Equipment" type="wmdr:EquipmentType" substitutionGroup="wmdr:AbstractEnvironmentalMonitoringFacility">
		<xs:annotation>
			<xs:documentation>Equipment or instrument used to make observations.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EquipmentType">
		<xs:complexContent>
			<xs:extension base="wmdr:AbstractEnvironmentalMonitoringFacilityType">
				<xs:sequence>
					<xs:element name="instrumentCapability" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-03 Intrinsic capability of the measurement/observing method to measure the designated element including range, stability, precision etc.  [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="manufacturer" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-09 Manufacturer of the equipment [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="modelNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-09 Model number of the equipment [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="specificationLink" type="xs:anyURI" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-03 Link to manufacturers (or other) specification describing the equipment. [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="serialNumber" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-09 Serial number of the equipment [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="firmwareVersion" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>5-09 Firmware version of the equipment [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="equipmentLog" type="wmdr:EquipmentLogPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>wmdr:equipment</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EquipmentPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:Equipment"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EventReport" type="wmdr:EventReportType" substitutionGroup="wmdr:LogEntry"/>
	<xs:complexType name="EventReportType">
		<xs:complexContent>
			<xs:extension base="wmdr:LogEntryType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventReportPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:EventReport"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FacilityLog" type="wmdr:FacilityLogType" substitutionGroup="wmdr:Log">
		<xs:annotation>
			<xs:documentation>4-04 The FacilityLog is used to capture notable events and extra information about the observing facility or its surroundings. [Phase 2]</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FacilityLogType">
		<xs:complexContent>
			<xs:extension base="wmdr:LogType">
				<xs:sequence>
					<xs:element name="facility" type="wmdr:ObservingFacilityPropertyType">
						<xs:annotation>
							<xs:documentation>The ObservingFacility which this log describes.</xs:documentation>
							<xs:appinfo>
								<gml:reversePropertyName>wmdr:facilityLog</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FacilityLogPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:FacilityLog"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="FacilitySet" type="wmdr:FacilitySetType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>A set of associated ObservingFacilities. Association (grouping) criteria can vary and maybe program/network specific. Examples: In GAW, some Global stations consist of several distinct observing facilities; The NASA A-Train may be considered a FacilitySet comprised of several individual satellites.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="FacilitySetType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="facility" type="wmdr:ObservingFacilityPropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>An ObservingFacility that belongs to this set.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="FacilitySetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:FacilitySet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="LogEntry" type="wmdr:LogEntryType" substitutionGroup="gml:AbstractObject" abstract="true">
		<xs:annotation>
			<xs:documentation>At the abstract level a log entry contains the time, author and descriptions of the activity or event being logged. This class is specialized further to provide more specific log entry types where needed. </xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LogEntryType" abstract="true">
		<xs:sequence>
			<xs:element name="datetime" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>Date and time of the event being logged</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="author" type="xs:string">
				<xs:annotation>
					<xs:documentation>Author of the log entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="description" type="xs:string">
				<xs:annotation>
					<xs:documentation>Description of the log entry</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="additionalComments" type="xs:string">
				<xs:annotation>
					<xs:documentation>Additional comments about the log entry.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="attachment" type="xs:anyURI" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Link to additional documents, photos etc. about the event being logged.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LogEntryPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:LogEntry"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="MaintenanceReport" type="wmdr:MaintenanceReportType" substitutionGroup="wmdr:LogEntry">
		<xs:annotation>
			<xs:documentation>5-13 Description of maintenance (actual) performed on instrument.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MaintenanceReportType">
		<xs:complexContent>
			<xs:extension base="wmdr:LogEntryType">
				<xs:sequence>
					<xs:element name="maintenanceParty">
						<xs:annotation>
							<xs:documentation>5-11 Details of who performed the maintenance (individual or organisation).</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMetadataPropertyType">
									<xs:sequence>
										<xs:element ref="gmd:CI_ResponsibleParty"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MaintenanceReportPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:MaintenanceReport"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ObservationCollection" type="wmdr:ObservationCollectionType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>[WMDS Category 1] Each ObservationCollection should describe a different observed variable (e.g. humidity, air temperature) from an observingFacility. [Phase 1]. NOTE: This is mappable to the INSPIRE EF EnvironmentalMonitoringActivity. However the WIGOS implementation is more extensive, and notably contains direct links to the observations attributed to the activity (hasObservation).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ObservationCollectionType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This extension point is to facilitate the encoding of any other information for complimentary or local purposes such as complying with legislative frameworks.
However it should not be expected that any extension information will be appropriately processed, stored or made retrievable from any WIGOS systems or services. [Phase 1]</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractObject"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="facility" type="wmdr:ObservingFacilityPropertyType">
						<xs:annotation>
							<xs:documentation>The primary facility to which an ObservationCollection belongs. [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="uom" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>1-02 Measurement Unit (unit of measure) [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>MeasurementUnitType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicationArea" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>2-01 The context within, or intended application(s) for which the observation is primarily made or which has/have the most stringent requirements. [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ApplicationAreaType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="programAffiliation" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>2-02 The global, regional or national program/network(s) that the station/platform is associated with. [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ProgramOrNetworkAffiliationType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="temporalExtent" type="gml:TimePeriodPropertyType">
						<xs:annotation>
							<xs:documentation>1-03 Temporal Extent of the entire ObservationCollection (data series). ObservationCollection describes a single observed variable, observed with a single method. Note that individual Observations (segments) also have a temporal extent described using om:phenomenonTime [Phase 1]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="representativeness" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>1-05 An assessment of the representativeness of the observations from the RepresentativenessType codelist. [Phase 2]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>RepresentativenessType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObservationCollectionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:ObservationCollection"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Observations" type="wmdr:ObservationsType" substitutionGroup="gml:AbstractObject"/>
	<xs:complexType name="ObservationsType">
		<xs:sequence>
			<xs:element name="targetCollection" type="xs:string"/>
			<xs:element name="observation" type="om:OM_ObservationPropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ObservationsPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:Observations"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="ObservingFacility" type="wmdr:ObservingFacilityType" substitutionGroup="wmdr:AbstractEnvironmentalMonitoringFacility">
		<xs:annotation>
			<xs:documentation>[WMDS Category 3] An observing facility (station/platform) can be anything that supports making observations, e.g., a fixed station, moving equipment or a remote sensing platform. In abstract terms, an observing facility groups a near colocation of observing equipment managed by a single entity or several entities.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ObservingFacilityType">
		<xs:complexContent>
			<xs:extension base="wmdr:AbstractEnvironmentalMonitoringFacilityType">
				<xs:sequence>
					<xs:element name="wmoRegion" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>3-01 The WMO region the observing facility is located in, from the WMORegionType codelist. [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>WMORegionType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="territoryName" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>3-02 The territory the observing facility is located in, from the TerritoryType codelist. [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TerritoryType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="facilityType" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>3-04 The type of the observing facility from the MonitoringFacilityType codelist.  [Phase 2]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ObservingFacilityType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="facilityModel" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>3-05 not currently supported [Phase 3]</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="communicationMethod" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>3-08 The primary data communication method, from the DataCommunicationMethodType codelist. [Phase 2]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>DataCommunicationMethodType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="reportingStatus" type="gml:ReferenceType">
						<xs:annotation>
							<xs:documentation>3-09 Declared reporting status of the observing facility from the ReportingStatusType codelist [Phase 1]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>ReportingStatusType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="surfaceCover" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-01 The (bio)physical cover on the earth's surface in the vicinity of the observations from the LandCoverType codelist . 
NOTE: Only applies for surface-based (fixed) observing facilities. [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SurfaceCoverType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="surfaceCoverClassification" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-02 Reference to a surface cover classification type from the SurfaceCoverClassificationType codelist. NOTE: only if 4-01 is specified [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>SurfaceCoverClassificationType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="localTopography" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-03 The local topography from the LocalTopographyType codelist [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>LocalTopographyType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="relativeElevation" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-03 The relative elevation from the RelativeElevationType codelist [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>RelativeElevationType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="altitudeOrDepth" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-03 The altitude/depth with respect to mean sea level from the AltitudeOrDepthTypeCodelist [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>AltitudeOrDepthType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="topographicContext" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>4-03 The topographic context from the TopographicContextType codelist [Phase 3]</xs:documentation>
							<xs:appinfo>
								<gmlexr:targetCodeList>TopographicContextType</gmlexr:targetCodeList>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="facilityLog" type="wmdr:FacilityLogPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>wmdr:facility</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="hostedEquipment" type="wmdr:EquipmentPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Where equipment is fixed long term to a particular facility it is defined as being hostedEquipment on that facility.

INSPIRE note: hostedEquipment would be called 'narrower' if mapping between EnvironmentalMonitoringFacilities</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ObservingFacilityPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:ObservingFacility"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Process" type="wmdr:ProcessType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>Details of the process used in the observation</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProcessType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="sampling" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Details of the sampling (scanning or specimen collection) involved in the generation of observation data.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:Sampling"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="processing" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Details of the processing involved in the generation of observation data.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:Processing"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="reporting" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Details of the reporting involved in the generation of observation data.</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:Reporting"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="deployment" type="wmdr:DeploymentPropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>The deployment(s) describe which equipment is deployed, during which timeperiod, and in which configuration.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This extension point is to facilitate the encoding of any other information for complimentary or local purposes such as complying with legislative frameworks.
However it should not be expected that any extension information will be appropriately processed, stored or made retrievable from any WIGOS systems or services. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractObject"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="ProcessPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:Process"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Processing" type="wmdr:ProcessingType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>[WMDS Category 7] Details of the processing procedures.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ProcessingType">
		<xs:sequence>
			<xs:element name="observingMethod" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>5-02 The method of measurement/observation used from the ObservingMethodType codelist. [Phase 1]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>ObservingMethodType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="sampleTreatment" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-02 Description of chemical or physical treatment of the sample prior to analysis from the SampleTreatmentType codelist. [Phase 3]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>SampleTreatmentType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataProcessingDetails" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-01 A description of the data processing used to generate observations including, if relevant, algorithms used to derive the result. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="softwareDetails" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-05 Name and version of the software or processor used to derive the values [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="processingCentre" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-02 Center at which the observation is processed.[Phase 2]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ProcessingPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:Processing"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Reporting" type="wmdr:ReportingType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>[WMDS Category 7] Details of the reporting procedures.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ReportingType">
		<xs:sequence>
			<xs:element name="officialStatus" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>5-14 Official status of observation. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temporalReportingInterval" type="xs:duration">
				<xs:annotation>
					<xs:documentation>7-03 Time interval over which the observed variable is reported. Note that this is a duration, e.g., (every) 1 hour. [Phase 1]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spatialReportingInterval" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-03 Spatial interval over which the observed variable is reported. Note that this is expressed as length, without geo-referencing. [Phase 1]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="dataFormat" minOccurs="0" maxOccurs="1"/>
			<xs:element name="dataFormatVersion" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-08 Version of the data format. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="aggregationPeriod" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-09 Time period over which individual samples/observations are aggregated [Phase 2]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>TimeStampMeaningType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceTime" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-10 Time reference used for observations. [Phase 2]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>TimeReferenceType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="referenceDatum" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-11 Reference datum used to convert observed quantity to reported quantity [Phase 1]</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:AbstractMemberType">
							<xs:sequence>
								<xs:element ref="gml:VerticalDatum"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="numericalResolution" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-12 Numerical resolution is a measure of the detail to which a numerical quantity is expressed. This is synonymous to numerical precision of the reporting, but can be different than the numerical precision of the observed value.  [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="latency" type="xs:duration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-13 Latency of reporting is the typical time taken between completion of the observation and when it becomes available to users. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="levelOfData" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>7-06 Level of data processing [Phase 2]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>LevelOfDataType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ReportingPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:Reporting"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Sampling" type="wmdr:SamplingType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>6-01 Description of the procedure(s) involved in obtaining a sample/making an observation. [Phase 3]</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SamplingType">
		<xs:sequence>
			<xs:element name="samplingStrategy" type="gml:ReferenceType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-03 The strategy used to generate the observed variable. [Phase 1]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>SamplingStrategyType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="diurnalBaseTime" type="xs:time">
				<xs:annotation>
					<xs:documentation>6-07 Time (of day) to which diurnal statistics are referenced. For example, a 24 h accumulated total precipitation might refer to 0700z as the diurnal base time. [Phase 1]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="scheduleOfObservation">
				<xs:annotation>
					<xs:documentation>6-08 Description of the schedule of observation. [Phase 1]</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="gml:AbstractMemberType">
							<xs:sequence>
								<xs:element ref="wmdr:Schedule"/>
							</xs:sequence>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="sourceOfObservation" type="gml:ReferenceType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>5-01 The source of the observation (manual, automatic, visual etc.) from the SourceOfObservationType codelist. [Phase 1]</xs:documentation>
					<xs:appinfo>
						<gmlexr:targetCodeList>SourceOfObservationType</gmlexr:targetCodeList>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="samplingProcedureDescription" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-01 Description of the procedure(s) involved in obtaining a sample/making an observation. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="temporalSamplingInterval" type="xs:duration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-06 Time period (as a duration) between the beginning of consecutive sampling periods. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="samplingTimePeriod" type="xs:duration" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-04 The period of time over which a measurement is taken. This value is a duration, e.g. 1 hour, not specific times and dates. [Phase 3]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spatialSamplingResolution" type="gml:MeasureType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-05 The spatial sampling resolution is the size of the smallest observable object. The value of this property may be supported by explanatory information in spatialSamplingResolutionDescription. [Phase 2]</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="spatialSamplingResolutionDetails" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>6-05 Explanatory information about the exact meaning of the value of samplingResolution. Note: not currently supported. [Phase 2]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SamplingPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:Sampling"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Schedule" type="wmdr:ScheduleType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>6-08 Description of the schedule of observation. Note: Schedules are defined in terms of months covered, weekdays covered, hours and minutes covered during each day. At present, schedules within the hour are not supported. A complete definition of a schedule requires specification of the temporalReportingInterval, and may require the specification of diurnalBaseTime. [Phase 1]</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="ScheduleType">
		<xs:sequence>
			<xs:element name="startMonth" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start month of schedule (January = 1, December = 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endMonth" type="xs:int">
				<xs:annotation>
					<xs:documentation>End month of schedule (January = 1, December = 12)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startWeekday" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start day of schedule (Monday = 1, Sunday = 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endWeekday" type="xs:int">
				<xs:annotation>
					<xs:documentation>End day of schedule (Monday = 1, Sunday = 7)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startHour" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start hour of schedule (0 to 23)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endHour" type="xs:int">
				<xs:annotation>
					<xs:documentation>End hour of schedule (0 to 23)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="startMinute" type="xs:int">
				<xs:annotation>
					<xs:documentation>Start minute of schedule (0 to 59)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="endMinute" type="xs:int">
				<xs:annotation>
					<xs:documentation>End minute of schedule (0 to 59)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SchedulePropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:Schedule"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TimestampedLocation" type="wmdr:TimestampedLocationType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>A TimestampedLocation is a geospatial location accompanied by a timestamp indicating the time from which that location is considered to be valid. If known, an end time may also be provided. In WIGOS, an ObservingFacility or Equipment may carry multiple locations which are valid over different periods of time.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TimestampedLocationType">
		<xs:sequence>
			<xs:element name="validTimePeriod" type="gml:TimePeriodPropertyType">
				<xs:annotation>
					<xs:documentation>The time period for which this location is known to be valid. Normally, this will be specified as a "from" date, implying that the validity extends but does not include the next location on record.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="location" type="gml:GeometryPropertyType">
				<xs:annotation>
					<xs:documentation>3-07 Representative or conventional geospatial location of observing facility, the reference location. This will always be a point location, but this location can change with time. [Phase 1]

5-12 Geospatial location of instrument or observing equipment, typically the location of the sensing element or sample inlet. This will always be a point location, , but this location can change with time. [Phase 2]</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimestampedLocationPropertyType">
		<xs:sequence>
			<xs:element ref="wmdr:TimestampedLocation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="WIGOSMetadataRecord" type="wmdr:WIGOSMetadataRecordType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>The WIGOSMetadataRecord is a container for WIGOS information for the purposes of packaging the information for delivery to, or transfer between, systems.</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="WIGOSMetadataRecordType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="extension" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>This extension point is to facilitate the encoding of any other information for complimentary or local purposes such as complying with legislative frameworks.
However it should not be expected that any extension information will be appropriately processed, stored or made retrievable from any WIGOS systems or services. </xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="gml:AbstractObject"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="observingFacilityId" type="xs:anyURI">
						<xs:annotation>
							<xs:documentation>Identifier which identifies the observing facility this WIGOSMetadataRecord refers to.  The observing facility may be defined in this record (facilityDefinition) or it may have already been defined and this WIGOSMetadataRecord is providing additional information relevant to this facility (e.g. a  new observation collection).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="facilityDefinition" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A container element to hold a definition of an ObservingFacility</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:ObservingFacility"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="equipmentDefinition" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A container element to hold a definition of Equipment</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:Equipment"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="collectionDefinition" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A container element to hold a definition of an ObservationCollection</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:ObservationCollection"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="observationDefinition" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>A container element to hold one or more definitions of OM_Observation to go in a particular collection</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:Observations"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="WIGOSMetadataRecordPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:WIGOSMetadataRecord"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Log" type="wmdr:LogType" substitutionGroup="gml:AbstractFeature" abstract="true">
		<xs:annotation>
			<xs:documentation>At the abstract level a log is simply a record of log entries. The requirements for a log may depend on the type of log it is therefore specialized logs exist for specific types of log (such as ControlCheckReports, MaintenanceReports and EventReports).</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LogType" abstract="true">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="logEntry" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="wmdr:LogEntry"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LogPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:Log"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="EquipmentLog" type="wmdr:EquipmentLogType" substitutionGroup="wmdr:Log">
		<xs:annotation>
			<xs:documentation>5-13 The EquipmentLog is used to capture notable events and extra information about the equipment used to obtain the observations, such as actual maintenance performed on the instrument. [Phase 3]</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EquipmentLogType">
		<xs:complexContent>
			<xs:extension base="wmdr:LogType">
				<xs:sequence>
					<xs:element name="equipment" type="wmdr:EquipmentPropertyType">
						<xs:annotation>
							<xs:documentation>The Equipment which this log describes.</xs:documentation>
							<xs:appinfo>
								<gml:reversePropertyName>wmdr:equipmentLog</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EquipmentLogPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="wmdr:EquipmentLog"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
